{
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "env": {
      "browser": true,
      "webextensions": true
    },
    "rules": {
      "prettier/prettier": "error"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 6
    }
  }
  