<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/master.css"/>
    <!-- Semantic ui  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <!-- Typerwriter -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    
    <title>Document</title>
</head>
<body>
    <!-- <div class="ui menu">
        <div class="right menu">
            <a class="item">Home</a>
            <a class="item">Message</a>
            <a class="item">Others</a>
        </div> 
    </div> -->
    <div class="header">
        <p class="title" id="app"></p>
        <p class="description">
            A community-owned REST API service for developers. Fetch provides REST API 
            endpoints which can be easily used during testing 
            and development without the need for creating sample data manually.
        </p>     
    </div>
    
    <script src="/scripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</body>
</html>